<h1>{{ProjectTitle}}</h1>
<hr />
<a href="#AddProject" class="btn btn-primary">Add New Project</a>
<hr />
<a ng-click="ProjectRefresh()" class="btn btn-primary">Refresh List</a>
<table class="table table-striped table-hover">
    <thead>
        <tr class="info">
            <td>
                Project ID
            </td>
            <td>
                Project Name
            </td>
        </tr>
    </thead>
    <tbody>
        <tr class="success" ng-repeat="proj in AllProjects">
            <td>
                {{proj.Id}}
            </td>
            <td>
                {{proj.Name}}
            </td>
              
        </tr>
    </tbody>
</table>
